/*This is the CSS markup for the sidebar Vue component*/

#sidebarul {
    display: inline;
}
#hamburgericon{
    width: 29px;
    stroke-width: 1.25px;
    stroke: #a3a3a3;
    margin-left:auto;
}
#sidebarlogo {
    background-color:#0d0d0d; 
    margin-left: .25vw; 
    margin-top: 1vh;
    transition: visibility 1s, opacity 1s linear;
}
#sidebarimglogo{
    width:100%; 
    height:2vh; 
    max-width:55%; 
    min-height: 3%;
    margin-top: 1.5vh;
    transition: visibility 1s, opacity 1, linear;
}
#sidenav{
      min-height: 100vh;
    min-width: 1vw;
    max-width: 14.5vw;
    padding-top: 1vh;
    overflow: hidden;
}

#createusersvg{
    margin-top:1.25vh; 
    
}
#filemanagerli{
     width: 25px;
    margin-top:1vh; 
    /* margin-left: .25vw; */
}
.xiconbullet{
    width: 1.5vw;
    height: 1.5vw;
    margin-top: .75vh;
}
.xiconbullet2{
    width: 1.5vw;
    height: 1.5vw;
    margin-top: .75vh;
    display: none;
}
.sidenavlink{
    color: #a3a3a3;
    overflow:hidden;
  
}
.sidebardemo{
    margin: 0;
}
.iconbutton
{
    background-color: #0d0d0d;
    width: 33px;
    border-radius: 6px;
    border: #0d0d0d 1px solid;
    padding: 1px;
    margin-left: .25vw;
    display: inline;
    margin-bottom: .5vh;
    transition: margin-left 1s ease-in-out;
    transition: margin-right 1s ease-in-out;
    
}
.iconbutton:hover{
    border: #404040 1px solid;
    background-color: #D4D4D4;
}
.iconbutton:hover #hamburgericon{
    stroke: #404040;
    fill: #D4D4D4;
}

.ddsideicon{
    width: 22px;
    stroke-width: 1.25px;
    stroke: #a3a3a3;
    margin-left: 5px;
}
.sidenavcontainer
{
    background-color: #0d0d0d;
    display: flex;
    align-items: stretch;
    width: 14.5vw;
    min-width: 1vw;
    max-width: 14.5vw;
    transition: width 1s;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.06), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
    }
.navcontainer{
    width: 14vw;
    height: 5vh;
    padding-top: 1px;
    padding-right: 1px;
    border: 1px;
    border-radius:1px;
    display: flex;
    padding-left:3px;
}
.subnavcontainer {
    width: 13.9vw;
    height: 5vh;
    padding-top: 1px;
    padding-right: 1px;
    border: 1px;
    border-radius:1px;
    display: flex;
    padding-left:3px;
    border-radius: 6px;
    border:#D4D4D4 1px transparent;
    border-bottom: #a3a3a3 1px solid;
    margin-bottom: 1px;
}
.subnavcontainer:hover {
    background-color: #E2E8F0;
}
.subnavcontainer:hover .submenutext{
    color: #404040;
}
.subnavcontainer:hover .xiconbullet {
    display: none;
}
.subnavcontainer:hover .xiconbullet2 {
    display: block;
}
.sidebtntext {
    font-size: 1vw;
    height: 3vh;
    width: 10vw;
    text-align: left;
    font-family: 'Inter', sans-serif;
    margin-left:2vw;
    margin-top: 1.5vh;
}
.submenutext{
    font-weight: bold;
    font-size: smaller;
    height: 3vh;
    width: 10vw;
    text-align: left;
    font-family: 'Inter', sans-serif;
    margin-left:2vw;
    margin-top: 1.5vh;
    color: #a3a3a3;

}
.submenuicon{
    width: 22px;
    stroke-width: 1.25px;
    stroke: #a3a3a3;
    margin-left: 5px;
}
.submenu{
    position: absolute; 
    display: none; 
    padding-left: .1vw; 
    background-color: #0d0d0d;
    border: #404040 1px solid;
    border-radius: 7px;
    overflow: auto;
    margin-left: 0;
    padding-right: 0;

}
.navcontainer:hover {
    background: #D4D4D4;
    cursor:pointer;
}
.navcontainer:hover .sidebtntext{
    color: #404040;
    font-weight:bold;
}
.sidenavlink:hover {
    color: #404040;
    font-weight: bold;
    text-decoration-style: wavy;
}
.sidenavlink:hover .ddsideicon{
    fill: #d4d4d4;
    stroke: #404040;
}
