/*This is the CSS markup for the sidebar Vue component*/

#sidebarul {
    display: inline;
}
#hamburgericon{
    width: 29px;
    stroke-width: 1.25px;
    stroke: #a3a3a3;
    margin-left:auto;

}
#dashboardlink{
    margin-top:3vh;
}
#sidebarlogo {
    background-color:#0d0d0d; 
    margin-left:1.5vw; 
    margin-top: 1vh;
    transition: visibility 1s, opacity 1s linear;
}
#sidebarimglogo{
    width:100%; 
    height:2vh; 
    max-width:55%; 
    min-height: 3%;
    margin-top: 1.5vh;
    transition: visibility 1s, opacity 1s linear;
}
#sidenav{
      min-height: 100vh;
    min-width: 1vw;
    max-width: 14.5vw;
    padding-top: 1vh;
    overflow: hidden;
}
#createnewuserli{
    margin-top: 5vh;
}
#createusersvg{
    margin-top:1.25vh; 
    margin-left: .5vw;
}
#filemanagerli{
     width: 27px;
    margin-top:1vh; 
    margin-left: .25vw;
}
.sidenavlink{
    color: #a3a3a3;
    overflow:hidden;
  
}
.sidebardemo{
    margin: 0;
}
.iconbutton
{
    background-color: #0d0d0d;
    width: 33px;
    border-radius: 6px;
    border: #0d0d0d 1px solid;
    padding: 1px;
    margin-left: .25vw;
    display: inline;
    margin-bottom: .5vh;
    
}

.iconbutton:hover{
    border: #404040 1px solid;
    background-color: #D4D4D4;
}
.iconbutton:hover #hamburgericon{
    stroke: #404040;
    fill: #D4D4D4;
}

.ddsideicon{
    width: 22px;
    stroke-width: 1.25px;
    stroke: #a3a3a3;
    margin-left: 5px;
}
.sidenavcontainer
{
    background-color: #0d0d0d;
    display: flex;
    align-items: stretch;
    width: 14.5vw;
    min-width: 1vw;
    max-width: 14.5vw;
    transition: width .75s;

    }
.navcontainer{
    width: 14vw;
    height: 5vh;
    padding-top: 1px;
    padding-right: 1px;
    border: 1px;
    border-radius:1px;
    display: flex;
    padding-left:3px;
 
    

}
.sidebtntext {
    font-size: 1vw;
    height: 3vh;
    width: 10vw;
    text-align: left;
    font-family: 'Inter', sans-serif;
    margin-left:2vw;
    margin-top: 1.5vh;
}
.navcontainer:hover {
    background: #D4D4D4;
    cursor:pointer;
}


.navcontainer:hover .sidebtntext{
    color: #404040;
    font-weight:bold;
}

.sidenavlink:hover {
    color: #404040;
    font-weight: bold;
    text-decoration-style: wavy;


}
.sidenavlink:hover .ddsideicon{
    fill: #d4d4d4;
    stroke: #404040;
}
